<h1>Hello world! Time is @ViewData["time"]</h1>

@using (Html.BeginForm("TestSubmit", "Home", FormMethod.Post))
    {
        <input type="text" id="message" name="message"/>
@*        @Html.TextBoxFor(m => m.Message)*@
        <input type="submit"/>
    }
