@model MyWebApplication.Models.SubmitModel

<h1>@ViewData["message"]</h1>
@Html.ActionLink("Back", "Index")

@section scripts
{
    <script language="javascript">
        $(document)
            .ready(function () {
                setTimeout(function() {
                    $("body").css("background-color", "black");
                }, 3000);
            });
    </script>
}
