@model MyWebApplication.Models.SubmitModel

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/stylesheet.css"/>
</head>
<body>
<h1>@ViewData["message"]</h1>
    @Html.ActionLink("Back", "Index")
</body>
</html>