<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="~/stylesheet.css"/>
</head>
<body>
    @RenderBody()

    <script src="~/jquery-3.1.1.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>